#p2{
    color: blueviolet;
    font-family: cursive;
    font-size: larger;

}

div{
    color: whitesmoke;
    background-color: teal;
    text-align: center;
    height: 30px;
    width: 100px;
    font-size: large;
}

/*I am comment*/